<%- include("../components/head.ejs")%>
  <body class="<%= className %>">
    <main class="main">
      <%- include("../components/header.ejs") %>
      <p><%= subTitle %></p>
      <img
        class="<%= image %>"
        src="/images/Shoebill.webp"
        alt="picture of bird"
        height="800"
        width="1200"
      />
      <%- include("../components/footer.ejs") %>
    </main>
  </body>
</html>
