<%- include("../components/head.ejs")%>
  <body class="<%= className %>">
    <%- include("../components/header.ejs") %>
    <main class="main">
      <img
        class="<%= image %>"
        src="/images/Shoebill.webp"
        alt="picture of bird"
        height="800"
        width="1200"
      />
    </main>
    <%- include("../components/footer.ejs") %>
  </body>
</html>
