<%- include("../components/head.ejs")%>
<body>
  <%-include("../components/header.ejs")%>
  <main class="main-zoo">
    <div class="flex-div">
      <div class="sidebar-div"><%- include("../components/sidebar.ejs")%></div>
      <div class="main-div">
        <%- include("../components/zooComponent.ejs")%>
      </div>
    </div>
  </main>
  <%-include("../components/footer.ejs")%>
</body>
